@import '../styles/colors.scss';

.parent {
    padding-top: 6rem;
    padding-bottom: 5rem;
}

.column {
    margin-bottom: 1rem;
}

.card {
    padding: 1.5rem;
    height: 100%;

    color: $text;
}
