@import '../styles/colors.scss';

.navbar {
    background-color: $white;
    min-height: 100px;
    filter: drop-shadow(0 0 2px rgba(176, 176, 176, 0.4));
}

.navbarOptions {
    justify-content: flex-end;
}