@import '../styles/colors.scss';

.parent {
    padding-top: 0rem;
    padding-bottom: 7rem;
}

.postLink:hover {
    text-decoration: none;
}

.post {
    padding: 1.5rem;
    padding-bottom: 0;
    height: 100%;
    color: $text;
    background: linear-gradient(tint-color($main, 14), tint-color($main, 14)) 0 100%/100% 4px no-repeat;
    transition: .2s ease-out;
}

.post:hover, .post:hover p,
.post:focus,
.post:active {
    color: $background;
    background-size: 100% 100%;
}

.readMore {
    text-align: right;
    color: $background;
}